.carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .carousel-title {
    color: #fff;
    font-size: 30px;
    
  }
  
  .carousel-subtitle {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
  
  .carousel-start {
    color: #fff;
    font-size: 25px;
  }
  
  .countdown {
    position: static;
    background-color: white; /* Set the background color to white */
    color: black; /* Set the text color to black */
    border-radius: 50%; /* Make the countdown text circular */
    padding: 10px; /* Add padding to give it some space */
  }